body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x:hidden;
}
h1{
  font-size: 3vw;
}
.jumbotron{
    background-image: url("../resources/banner.png");
    height:400px;
    padding: 20px;
    text-align: center;
    vertical-align: center;
}
#image-break{
  padding-top: 80px;
  padding-bottom: 80px;
}
#information{
    padding-bottom: 20px;
}
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  .title {
    color: grey;
    font-size: 1.5vw;
  }
  .special{
    max-width: 500px;
    margin: 40px;
  }
  button {
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.5vw;
  }
  
  a {
    text-decoration: none;
    font-size: 1.75vw;
    color: white;
  }
  
  button:hover, a:hover {
    text-decoration: none;
    opacity: 0.9;
    color: white;
  }

  footer{
      height: max-content;
      margin-top: 80px;
  }
  footer p{
    padding-left:25%;
    padding-right:25%;
    color: gray;
    padding-top: 20px;
    padding-bottom: 10px;
    word-wrap: break-word;
  }